.App {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-align: center;
}

.filter-form {
  display: flex;
  justify-content: center;
}

.filter-form > p {
  margin-right: 20px;
}

.filter-form > button {
  color: #fff;
  background: #226fbe;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  border: 2px solid #226fbe;
  border-radius: 60px;
  padding: 2px 50px;
}

.filter-form > button:hover {
  background: transparent;
  color: #226fbe;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
}

.list-container > li {
  max-width: 250px;
  margin: 20px;
  list-style-type: none;
}

.list-container > li > img {
  border-radius: 15px;
}
